In [1]:
import numpy as np
import pandas as pd

/var/folders/lg/ptvtf8315t182q0k_rny_7c80000gn/T/ipykernel_7815/1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('students_placement.csv')

In [3]:
df.shape

(300, 4)

In [4]:
df.sample(5)

     cgpa   iq  profile_score  placed
142  6.01  106             72       0
1    6.83  113             77       0
90   7.63   91             79       1
202  4.97  116             72       0
171  8.71   88             58       1

In [5]:
X = df.drop(columns=['placed'])
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [8]:
import pickle 
pickle.dump(rf,open('model.pkl','wb'))

In [9]:
import sklearn
print(sklearn.__version__)

1.4.1.post1